@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #505050;
  --txt-green: #0d6536;
  --txt-orange: #f37521;
  --bg-green: #4cba9b;
  --bg-green-light: #e4fff0;
  --heading-txt: #1d2f33;
  --txt-dark: #1d2f33;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-catamaran);
  box-sizing: border-box;
  min-height: 2000px;
}

.container {
  width: 100%;
  max-width: 1390px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* position: sticky; */
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 45px;
  z-index: 1000;
}

.main_header {
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  padding: 10px 30px;
  border: 1px solid #1d2f331a;
  box-shadow: 0 8px 60px 0px #1d2f331a;
}

.main_header nav ul li a {
  font-size: 16px;
  line-height: 30px;
  color: #1d2f3366;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.main_header nav ul li a.active {
  color: var(--txt-dark);
}
.main_header nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.main_header nav ul li a:hover {
  color: var(--txt-dark);
}

.main_header nav ul li a:hover::after {
  background-color: var(--txt-green);
  width: 100%;
  left: 0;
}

.main_header nav ul li a.active::after {
  background-color: var(--txt-orange);
  width: 100%;
  left: 0;
}

@media (min-width: 1024px) and (max-width: 1280px) and (min-height: 600px) and (max-height:1366px) {

  .inner-div{
    width: 70%;
  }

  .p{
    font-size: 14px;
  }

  h1{
    font-size: 28px;
  }

 button{
  width: 100px;
  height: 35px;
 }

 .fourthdiv{
  width: 290px;
 }

 input{
  width: 180px;
 }

 .two-div{
  width: 250px;
  row-gap: 1px;
 }

 .contact-form{
  width: 81%;
 }

 .contact-form-innerdiv{
    width: 80%;
 }

 .contact-form-left-div{
  width: 40%;
 }

    .inner-div-best-selling{
    width: 90%;
  }

 
}

.grecaptcha-badge {
  transition: transform 0.6s ease-in-out;
  transform: translateX(0); 
  overflow: hidden;
  z-index: 9999 !important;
    bottom: 30px !important;
}

.grecaptcha-badge:hover {
  transform: translateX(0); 
}

@media (min-width: 1024px) and (max-width: 1280px) and (min-height: 600px) and (max-height:1366px) {
.grecaptcha-badge {
 transition: transform 0.6s ease-in-out;
  transform: translateX(0); 
  z-index: 9999 !important;
    bottom: 30px !important;
}
}

@media (min-width: 768px) and (max-width: 1023px) and (min-height: 600px) and (max-height: 1368px) {
.grecaptcha-badge {
 transition: transform 0.6s ease-in-out;
  transform: translateX(0); 
  overflow: hidden;
  z-index: 9999 !important;
    bottom: 30px !important;
}

.floating-whatsapp-button {
  position: fixed !important;
  bottom: 120px !important;
  right: 10px !important;
  z-index: 9999 !important;
}
}

@media (min-width: 340px) and (max-width:720px) {
.grecaptcha-badge {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.floating-whatsapp-button {
  position: fixed !important;
  bottom: 30px !important;
  right: 20px !important;
  z-index: 9999 !important;
}
}

.floating-whatsapp-button {
  position: fixed !important;
  bottom: 120px !important;
  right: 8px !important;
  z-index: 9999 !important;
  background-color: #094e1f !important;
  color: #00611F !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.floating-whatsapp-button::after {
  animation: none !important;
  box-shadow: none !important;
}

.floating-whatsapp-button svg {
  filter: brightness(0) saturate(100%) invert(59%) sepia(80%) saturate(525%) hue-rotate(341deg) brightness(98%) contrast(96%);
}

.floating-whatsapp-button:hover {
  background-color: #F37521 !important;
}

.floating-whatsapp-button:hover svg {
filter: brightness(0) saturate(100%) invert(18%) sepia(96%) saturate(747%) hue-rotate(93deg) brightness(95%) contrast(103%);
}

.floating-whatsapp-button span {
  background-color: #F37521 !important;
  color: white !important;
}


@theme inline {
  --animate-scroll: scroll 20s linear infinite; /* Faster than 40s */

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

