.bl_admin_template {
  width: 100%;
  max-width: var(--container-small);
  margin: auto;
  min-height: 100%;
  display: flex;
  padding: 20px;
  gap: 30px;
}

.bl_admin_template>div {
  flex: 1;
}

.admin_nav {
  max-width: 200px;
}

.pg_content h1 {
  color: black;
  /* font-weight: 600;       */
  font-size: 30px;
  padding: 0 10px;
}

.pg_content h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}