.main_container {
  max-width: var(--container-small);
  width: 100%;
  display: flex;
  gap: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  position: sticky;
  top: calc(var(--header-height) + 100px);
}

.main_container>div {
  width: 100%;
}

.bl_filters {
  margin-bottom: 20px;
}

.bl_filter {
  border-right: 1px solid #ecdad7;
  border-bottom: 1px solid #ecdad7;
  padding-bottom: 20px;
}
